.popup{
    position:fixed;
    top:0;
    left:0;
    width:110%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}
.popup-inner{
    border-radius: 10px;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(32, 28, 28, 0.5);
}
.popup-inner span{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
   
}